body {
    margin: 0;
    padding: 0;

    font: 12px/1.25 'Roboto', sans-serif;
    color: #b8b9b9;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 100vh;

    background: url(./img/bg.jpg) center/cover no-repeat;
}

.modal::after {
    position: absolute;

    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 40, 85, .6);
    }

/* .opacity-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;

    background-color: rgba(0, 40, 85, .6);
} */

.form {
    position: relative;
    z-index: 5;

    padding: 70px 0;

    width: 920px;
    height: 820px;

    background-color: #fff;
    border-radius: 30px;
}

/* ===========header========== */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.header::before {
    content: url(./img/line.png);
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}


.header::after {
    content: url(./img/line.png);
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    cursor: pointer;
    border: none;
}

.btn--upper {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: #e10101;
}

.btn--upper:hover {
    box-shadow: inset 0 0 8.10px 0.2px #910202;
}

.btn--upper::before {
    content: "";
    width: 2px;
    height: 20px;

    position: absolute;
    top: 7px;

    background-color: #fff;
    transform: rotate(45deg);
}

.btn--upper::after {
    content: "";
    width: 2px;
    height: 20px;

    position: absolute;
    top: 7px;

    background-color: #fff;
    transform: rotate(-45deg);
}

.header__nav {
    max-width: 315px;
}

.header__list {
    display: flex;

    margin: 0 0 10px;
}

.header__item:not(:last-of-type) {
    margin-right: 25px;
}

.header__link {
    color: #b8b9b9;
}

.header__link:not(.active):hover {
    color: #16ba98;
}


.active {
    color: #767777;
    pointer-events: none;
}

.header__title {
    margin: 0 0 70px;

    font-family: 'Montserrat', sans-serif;
    color: #0e1010;
    font-size: 38px;
    letter-spacing: -0.7px;
}



/* ===========main========== */

.main {
    display: flex;
    justify-content: center;

    background-color: #f8f8f8;
    box-shadow: inset 0 0 8.8px 0.2px rgba(1, 1, 1, 0.17);
}

.main__form {
    display: flex;
    flex-direction: column;

    width: 500px;
    padding: 45px 0;
}

.main__input {
    margin-bottom: 20px;
    padding: 10px 30px;

    font-family: inherit;
    font-size: 16px;
    color: #5a5b5b;
    text-transform: capitalize;

    border: solid 2px #ebebeb;
    transition: all 500ms ease;
}

.main__input::placeholder {
    font-size: 16px;
    color: #bdbdbd;
    transition: all 500ms ease;
}

.main__input:focus::placeholder {
    transform: translateX(-90%)
}


.focused {
    background-color: #d3e6f4;
    border: solid 2px #b3cbda;
    color: #5a5b5b;
    font-size: 16px;
    line-height: 20px;
}

.main__input--textarea {
    height: 145px;
    margin-bottom: 0;

    resize: none;
}



/* ===========footer========== */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0 40px;
}

.footer__box {
    margin-right: 20px;
}

.footer__input {
    margin-bottom: 10px;

    height: 40px;
    width: 320px;

    border: solid 2px #ebebeb;
}

.footer__text {
    display: block;

    color: #82a6bf;
    letter-spacing: 0.5px;
}


.btn--under {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 210px;
    height: 65px;

    background-color: #16ba98;
    font-size: 24px;
    color: #fff;
}

.btn--under:hover {
    box-shadow: inset 0 0 8.10px 0.2px #095c4b;
}

.btn--under:active {
    box-shadow: inset 0 0 8.10px 0.2px #05241d;
}